<form>
  <div class="card-header text-center" style="font-family: 'Times New Roman'; font-size: 50px">
    PRODUCTS UPDATE
  </div>
  <div class="form-group">
    <label>NAME</label>
    <input type="email" class="form-control" formControlName="name" aria-describedby="emailHelp"
           placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label>PRICE</label>
    <input type="text" class="form-control" formControlName="price" placeholder="Enter Price">
  </div>
  <button type="submit" class="btn btn-primary">UPDATE</button>
  <button type="submit" class="btn btn-dark m-lg-2" routerLink="/products">CANCEL</button>
</form>
